<!--  Application server widget grid -->
<div class="grid-stack ecp-app-stack"></div>

<!-- Template Defining the layout of the widgets shown on the ecpApp tab-->
<script type="text/ng-template" id="ecpAppWidget">
  <div>
    <div flex="100" class="grid-stack-item-content hideOverflow" md-whiteframe="1" layout-padding>
      <!--  Title for the chart -->
      <div flex="100" layout="row" class="no-padding" layout-align="center center">
        <!--  ecpApp.widgets[_].title uses [_] (invalid js) because the template is rendered programatically by the ecpApp Controller c-ecp-app.js
        where a array holds all the the sensor data and [_] is replaced with the correct index when added to the DOM
        -->
        <h4 class="md-title no-margin blend-text doesAction">
          {{ecpApp.widgets[_].title}}
          <smp-metadata namespace="{{ecpApp.widgets[_].namespace}}" sensor="{{ecpApp.widgets[_].sensor}}" item="{{ecpApp.widgets[_].item}}"></smp-metadata>
        </h4>
      </div>
      <div flex="100" layout="row" layout-wrap class="no-padding">
        <smp-nvd3-chart
          type="lineChart"
          id="ecpApp-{{ecpApp.widgets[_].id}}"
          namespace="{{ecpApp.widgets[_].namespace}}"
          sensor="{{ecpApp.widgets[_].sensor}}"
          item="{{ecpApp.widgets[_].item}}"
          unit="{{ecpApp.widgets[_].unit}}"
        ></smp-nvd3-chart>
      </div>
    </div>
  </div>
</script>
