<!-- Div that all the widgets will be placed in (this is set up in the controller using Gridstack)-->
<div class="grid-stack summary-stack"></div>

<!-- Template Defining the layout of the widgets shown on the summary tab-->
<script type="text/ng-template" id="summaryWidget">
  <div>
    <div flex="100" class="grid-stack-item-content hideOverflow" md-whiteframe="1" layout-padding>
      <!--  Title for the chart -->
      <div flex="100" layout="row" class="no-padding" layout-align="center center">
        <!--  summary.widgets[_].title uses [_] (invalid js) because the template is rendered programatically by the Summary Controller c-summary.js
        where a array holds all the the sensor data and [_] is replaced with the correct index when added to the DOM
        -->
        <h4 class="md-title no-margin blend-text doesAction">
          {{summary.widgets[_].title}}
          <smp-metadata namespace="{{summary.widgets[_].namespace}}" sensor="{{summary.widgets[_].sensor}}" item="{{summary.widgets[_].item}}"></smp-metadata>
        </h4>
      </div>
      <div flex="100" layout="row" layout-wrap class="no-padding">
        <smp-nvd3-chart
          type="lineChart"
          id="summary-{{summary.widgets[_].id}}"
          namespace="{{summary.widgets[_].namespace}}"
          sensor="{{summary.widgets[_].sensor}}"
          item="{{summary.widgets[_].item}}"
          unit="{{summary.widgets[_].unit}}"
        ></smp-nvd3-chart>
      </div>
    </div>
  </div>
</script>
