<md-content layout="row" layout-aling="center center" style="height: 5.5em; background-color: #dfdddd;">
  <div flex="10"></div>
  <div layout="row" layout-align="center center" layout-padding><h4 class="md-headline blend-text no-margin">Polymetric Dashboard</h4></div>
  <div flex=""></div>
  <div layout="row" layout-padding>
    <div flex="none" layout="row" layout-align="center center">
      <a href="https://github.com/CDTiernan/SystemMonitorDashboard" target="_blank"
        layout="row"
        class="footer-link"
      >
        <p class="md-body-1 blend-text">GitHub</p>
      </a>
    </div>

    <div flex="none" layout="row" layout-align="center center"><p class="md-body-1 blend-text">|</p></div>

    <div flex="none" layout="row" layout-align="center center">
      <!-- <a href="#" target="_blank"
        layout="row"
        class="footer-link"
      > -->
        <p class="md-body-1 blend-text">Documentation</p>
      <!-- </a> -->
    </div>

    <div flex="none" layout="row" layout-align="center center"><p class="md-body-1 blend-text">|</p></div>

    <div flex="none" layout="row" layout-align="center center">
      <a href="/csp/sys/%25CSP.Portal.Home.zen"
        layout="row"
        class="footer-link"
      >
        <p class="md-body-1 blend-text">Management Portal</p>
      </a>
    </div>

  </div>
  <div flex="10"></div>
</md-content>
