<span flex="100">
  <!-- The widget controller wil dynamically put the visualization html into this span -->
  <div class="widgetOptionsBtnHolder" ng-click="widget.openMenu($event)">
    <!-- The widget options button opens the widget menu to select what kind of widget should be displayed -->
    <md-icon md-svg-src="assets/icons/ic_build_24px.svg" class="widgetOptionsBtnIcon blend-text" aria-label="Widget Options">
      <md-tooltip md-direction="top">Widget Options</md-tooltip>
    </md-icon>
  </div>
<span>
