<md-sidenav
  class="md-sidenav-right md-whiteframe-4dp"
  md-component-id="showcaseSidenav"
  md-disable-backdrop
>
  <md-toolbar class="primary-hue1-fill showcaseSidenavToolbar" layout="row" layout-align="start center" layout-padding>
    <p class="showcaseSidenavHeader no-margin">Showcase Navigation</p>
  </md-toolbar>
  <md-content>
    <!-- Dashbaord API -->
    <div layout="row" layout-align="left center" flex="100">
      <md-button disabled class="showcaseSideNavBtn" ng-click="">Dashboard Service</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'DashboardMethods') }" ng-click="showcase.goToSection('DashboardMethods')" >REST API Routes</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'DashboardSettings') }" ng-click="showcase.goToSection('DashboardSettings')" >Other Functionality</md-button>
    </div>

    <!-- Visualization -->
    <div layout="row" layout-align="left center" flex="100">
      <md-button disabled class="showcaseSideNavBtn" ng-click="" >Visualization Directives</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Line') }" ng-click="showcase.goToSection('Line')" >Line Chart</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Sparkline') }" ng-click="showcase.goToSection('Sparkline')" >Sparkline Chart</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Sensor') }" ng-click="showcase.goToSection('Sensor')" >Sensor Display</md-button>
    </div>

    <!-- Content -->
    <div layout="row" layout-align="left center" flex="100">
      <md-button disabled class="showcaseSideNavBtn" ng-click="" >Content Display</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Tab') }" ng-click="showcase.goToSection('Tab')" >Tabs</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="80" flex-offset="10">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Expando') }" ng-click="showcase.goToSection('Expando')" >Expando</md-button>
    </div>
  </md-content>

</md-sidenav>
