<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - DEMO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="true" target="showcaseLineDemo">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin">Demo</h2>
    </div>
    <div smp-expando-content="showcaseLineDemo">
      <div class="contentContainer">
        <div layout="column" flex="100">
          <div>
            <smp-nvd3-chart
              type="lineChart"
              id="showcase-LineChart"
              namespace="{{scLineChart.namespace}}"
              sensor="{{scLineChart.sensor}}"
              item="{{scLineChart.item}}"
            />
          </div>
        </div>

        <div layout="row" layout-wrap flex="100" layout-align="center center" layout-margin>
          <!-- Namespace Select for Widget -->
          <div flex-xs="100" flex-sm="100" flex-gt-sm="30">
            <md-input-container  flex="100" layout-padding class="widgetMenuSelect no-padding no-margin" style="display:block">
              <label style="padding-bottom:0">Namespace</label>
              <md-select
                ng-model="scLineChart.namespace"
                ng-change="scLineChart.sensor = ''; scLineChart.item = ''"
                class="white-fill"
                md-whiteframe="1"
                aria-label="showcase line chart namespace select"
                style="display: block; padding-top: 0;">
                <md-option ng-repeat="(namespace, sensors) in sensors" value="{{namespace}}" >
                  {{namespace}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <!-- Sensor Select for Widget -->
          <div flex-xs="100" flex-sm="100" flex-gt-sm="30">
            <md-input-container flex="100" layout-padding class="widgetMenuSelect no-padding no-margin" style="display:block">
              <label style="padding-bottom:0">Sensor</label>
              <md-select
                ng-disabled="!scLineChart.namespace"
                ng-model="scLineChart.sensor"
                ng-change="scLineChart.item = ''"
                class="white-fill"
                md-whiteframe="1"
                aria-label="showcase line chart sensor select"
                style="display: block; padding-top: 0;">
                <md-option ng-repeat="(sensor, props) in sensors[scLineChart.namespace]" value="{{sensor}}" >
                  {{sensor}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <!-- Item Select for Widget -->
          <div flex-xs="100" flex-sm="100" flex-gt-sm="30">
            <md-input-container  flex="100" layout-padding class="widgetMenuSelect no-padding no-margin" style="display:block">
              <label style="padding-bottom:0">Item</label>
              <md-select
                ng-disabled="!scLineChart.sensor || !scLineChart.namespace"
                ng-model="scLineChart.item"
                class="white-fill"
                md-whiteframe="1"
                aria-label="showcase line chart item select"
                style="display: block; padding-top: 0;">
                <md-option ng-repeat="item in sensors[scLineChart.namespace][scLineChart.sensor].items" value="{{item}}">
                  {{item}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <div layout="row" layout-align="center center" flex="auto">
            <md-button aria-label="Apply" ng-click="scLineChart.update()" class="md-raised primary-fill white-text">Apply</md-button>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="true" target="showcaseLineHtml">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin">HTML</h2>
    </div>

    <div smp-expando-content="showcaseLineHtml" md-whiteframe="2">
      <div class="contentContainer">
        <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    <span class="smp-punct">&lt;</span><span class="smp-elem">div</span><span class="smp-punct">&gt;</span>
      <span class="smp-punct">&lt;</span><span class="smp-elem">smp-nvd3-chart</span>
        <span class="smp-attr">id</span> <span class="smp-punct">=</span> <span class="smp-str">"showcase-LineChart"</span>
        <span class="smp-attr">type</span> <span class="smp-punct">=</span> <span class="smp-str">"lineChart"</span>
        <span class="smp-attr">namespace</span> <span class="smp-punct">=</span> <span class="smp-str">"{{scLineChart.namespace}}"</span>
        <span class="smp-attr">sensor</span> <span class="smp-punct">=</span> <span class="smp-str">"{{scLineChart.sensor}}"</span>
        <span class="smp-attr">item</span> <span class="smp-punct">=</span> <span class="smp-str">"{{scLineChart.item}}"</span>
      <span class="smp-punct">&gt; &lt;/</span><span class="smp-elem">smp-nvd3-chart</span><span class="smp-punct">&gt;</span>
    <span class="smp-punct">&lt;/</span><span class="smp-elem">div</span><span class="smp-punct">&gt;</span>
  </code>
</pre>
        </div>
      </div>
    </div>
  </smp-expando>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - USE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="true" target="showcaseLineUse">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin">Options</h2>
    </div>
    <div smp-expando-content="showcaseLineUse" class="white-fill" md-whiteframe="2">
      <div class="contentContainer">
        <div layout="column" flex="100" class="">
          <md-list>
            <md-subheader class="md-no-sticky accent-text">Required</md-subheader>
            <md-list-item layout="row" class="md-offset">
              <p layout="row" flex="100">
                <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Attribute</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
              </p>
            </md-list-item>
            <md-list-item layout="row" class="md-offset" ng-repeat="attr in scLineChart.attributes.Required">
              <p layout="row" flex="100">
                <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{attr.attr}}</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{attr.type}}</span>
                <span flex="" class="md-body-1">{{attr.desc}}</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{attr.default}}</span>
              </p>
            </md-list-item>
            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">Optional</md-subheader>
            <md-list-item layout="row" class="md-offset">
              <p layout="row" flex="100">
                <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Attribute</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
              </p>
            </md-list-item>
            <md-list-item layout="row" class="md-offset" ng-repeat="attr in scLineChart.attributes.Optional">
              <p layout="row" flex="100">
                <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{attr.attr}}</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{attr.type}}</span>
                <span flex="" class="md-body-1">{{attr.desc}}</span>
                <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{attr.default}}</span>
              </p>
            </md-list-item>

          </md-list>
        </div>
      </div>
    </div>
  </smp-expando>
</div>
