<md-sidenav
  class="md-sidenav-right md-whiteframe-4dp"
  md-component-id="showcaseSidenav"
  md-disable-backdrop
>
  <md-toolbar class="primary-hue1-fill showcaseSidenavToolbar" layout="row" layout-align="start center" layout-padding>
    <p class="showcaseSidenavHeader no-margin">Showcase Navigation</p>
  </md-toolbar>
  <md-content layout-margin>
    <div layout="row" layout-align="left center" flex="100">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Line') }" ng-click="showcase.goToSection('Line')" >Line Chart</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="100">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Sparkline') }" ng-click="showcase.goToSection('Sparkline')" >Sparkline Chart</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="100">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Icon') }" ng-click="showcase.goToSection('Icon')" >State Icon</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="100">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Sensor') }" ng-click="showcase.goToSection('Sensor')" >Sensor Display</md-button>
    </div>
    <div layout="row" layout-align="left center" flex="100">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Metadata') }" ng-click="showcase.goToSection('Metadata')" >Metadata Tooltip</md-button>
    </div>
    <!-- <div layout="row" layout-align="left center" flex="100">
      <md-button class="showcaseSideNavBtn" ng-class="{ 'md-accent': (showcase.curShowcaseSection === 'Widget') }" ng-click="showcase.goToSection('Widget')" >Widgets</md-button>
    </div> -->

  </md-content>

</md-sidenav>
