<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - All Sensors - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="false" target="showcaseMethodsAllSensors" style="padding-bottom:2em;" elevation="2">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin white-text">{{dashboardMethods.promises[0].name}}</h2>
    </div>
    <div smp-expando-content="showcaseMethodsAllSensors">
      <div class="contentContainer">
        <div layout="row" layout-wrap flex="100">
          <div layout="row" layout-wrap flex="100">
          <div layout="row" flex="100" class="primary-fill md-padding">
            <h3 class="md-title no-margin white-text">Description</h3>
          </div>
            <div layout="row" layout-align="left center" flex="100" class="white-fill">
              <h2 class="md-subhead no-margin md-padding">{{dashboardMethods.promises[0].info.Description}}</h2>
            </div>
            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Example Call</h3>
            </div>
            <div layout="row" layout-align="left start" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    dashboard<span class="smp-funct">.</span><span class="smp-call">getSensors</span>()
      <span class="smp-funct">.</span><span class="smp-call">then</span>(<span class="smp-funct">function</span>(<span class="smp-arg">data</span>) {
        <span class="smp-cmt">// success callback</span>
      }, <span class="smp-funct">function</span>(<span class="smp-arg">error</span>) {
        <span class="smp-cmt">// failure callback</span>
      });
  </code>
</pre>
            </div>
            <div flex="100" class="white-fill">
              <md-list ng-if="dashboardMethods.promises[0].info.Parameters.Required.length !== 0 || dashboardMethods.promises[0].info.Parameters.Optional.length !== 0">
                <span ng-if="dashboardMethods.promises[0].info.Parameters.Required.length !== 0">

                  <md-subheader class="md-no-sticky accent-text">Required</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[0].info.Parameters.Required">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>

                <span ng-if="dashboardMethods.promises[0].info.Parameters.Optional.length !== 0">
                  <md-divider></md-divider>

                  <md-subheader class="md-no-sticky">Optional</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[0].info.Parameters.Optional">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>
              </md-list>
            </div>

            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Response Schema</h3>
            </div>
            <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    <span class="smp-punct">[</span>
      <span class="smp-punct">{</span>
        <span class="smp-str">namespace</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
        <span class="smp-str">sensor</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
        <span class="smp-str">item</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
        <span class="smp-str">criticalValue</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
        <span class="smp-str">warningValue</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
        <span class="smp-str">description</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
        <span class="smp-str">operator</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
        <span class="smp-str">units</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
      <span class="smp-punct">}</span>
      <span class="smp-cmt">...</span>
    <span class="smp-punct">]</span>
  </code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - A Sensor - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="false" target="showcaseMethodsASensor" style="padding-bottom:2em;" elevation="2">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin white-text">{{dashboardMethods.promises[1].name}}</h2>
    </div>
    <div smp-expando-content="showcaseMethodsASensor">
      <div class="contentContainer">
        <div layout="row" layout-wrap flex="100">
          <div layout="row" layout-wrap flex="100">
          <div layout="row" flex="100" class="primary-fill md-padding">
            <h3 class="md-title no-margin white-text">Description</h3>
          </div>
            <div layout="row" layout-align="left center" flex="100" class="white-fill">
              <h2 class="md-subhead no-margin md-padding">{{dashboardMethods.promises[1].info.Description}}</h2>
            </div>
            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Example Call</h3>
            </div>
            <div layout="row" layout-align="left start" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    dashboard<span class="smp-funct">.</span><span class="smp-call">getSensor</span>(<span class="smp-arg">namespace</span>, <span class="smp-arg">sensor</span>, <span class="smp-arg">item</span>)
      <span class="smp-funct">.</span><span class="smp-call">then</span>(<span class="smp-funct">function</span>(<span class="smp-arg">data</span>) {
        <span class="smp-cmt">// success callback</span>
      }, <span class="smp-funct">function</span>(<span class="smp-arg">error</span>) {
        <span class="smp-cmt">// failure callback</span>
      });
  </code>
</pre>
            </div>
            <div flex="100" class="white-fill">
              <md-list ng-if="dashboardMethods.promises[1].info.Parameters.Required.length !== 0 || dashboardMethods.promises[1].info.Parameters.Optional.length !== 0">
                <span ng-if="dashboardMethods.promises[1].info.Parameters.Required.length !== 0">

                  <md-subheader class="md-no-sticky accent-text">Required</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[1].info.Parameters.Required">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>

                <span ng-if="dashboardMethods.promises[1].info.Parameters.Optional.length !== 0">
                  <md-divider></md-divider>

                  <md-subheader class="md-no-sticky">Optional</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[1].info.Parameters.Optional">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>
              </md-list>
            </div>

            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Response Schema</h3>
            </div>
            <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    <span class="smp-punct">{</span>
      <span class="smp-str">criticalValue</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
      <span class="smp-str">warningValue</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
      <span class="smp-str">description</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
      <span class="smp-str">operator</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
      <span class="smp-str">units</span><span class="smp-punct">:</span> String<span class="smp-punct">,</span>
    <span class="smp-punct">}</span>
  </code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Chart Data - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="false" target="showcaseMethodsChartData" style="padding-bottom:2em;" elevation="2">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin white-text">{{dashboardMethods.promises[2].name}}</h2>
    </div>
    <div smp-expando-content="showcaseMethodsChartData">
      <div class="contentContainer">
        <div layout="row" layout-wrap flex="100">
          <div layout="row" layout-wrap flex="100">
          <div layout="row" flex="100" class="primary-fill md-padding">
            <h3 class="md-title no-margin white-text">Description</h3>
          </div>
            <div layout="row" layout-align="left center" flex="100" class="white-fill">
              <h2 class="md-subhead no-margin md-padding">{{dashboardMethods.promises[2].info.Description}}</h2>
            </div>
            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Example Call</h3>
            </div>
            <div layout="row" layout-align="left start" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    dashboard<span class="smp-funct">.</span><span class="smp-call">getChartData</span>(<span class="smp-arg">namespace</span>, <span class="smp-arg">sensor</span>, <span class="smp-arg">item</span>, <span class="smp-arg">startTime</span>)
      <span class="smp-funct">.</span><span class="smp-call">then</span>(<span class="smp-funct">function</span>(<span class="smp-arg">data</span>) {
        <span class="smp-cmt">// success callback</span>
      }, <span class="smp-funct">function</span>(<span class="smp-arg">error</span>) {
        <span class="smp-cmt">// failure callback</span>
      });
  </code>
</pre>
            </div>
            <div flex="100" class="white-fill">
              <md-list ng-if="dashboardMethods.promises[2].info.Parameters.Required.length !== 0 || dashboardMethods.promises[2].info.Parameters.Optional.length !== 0">
                <span ng-if="dashboardMethods.promises[2].info.Parameters.Required.length !== 0">

                  <md-subheader class="md-no-sticky accent-text">Required</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[2].info.Parameters.Required">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>

                <span ng-if="dashboardMethods.promises[2].info.Parameters.Optional.length !== 0">
                  <md-divider></md-divider>

                  <md-subheader class="md-no-sticky">Optional</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[2].info.Parameters.Optional">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>
              </md-list>
            </div>

            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Response Schema</h3>
            </div>
            <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    <span class="smp-punct">[</span>
      <span class="smp-punct">{</span>
        <span class="smp-str">timestamp</span><span class="smp-punct">:</span> String <span class="smp-cmt">(format: YYYY-MM-DD HH:mm:ss)</span><span class="smp-punct">,</span>
        <span class="smp-str">value</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
      <span class="smp-punct">}</span>
      <span class="smp-cmt">...</span>
    <span class="smp-punct">]</span>
  </code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Calculated Data - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
<div>
  <smp-expando open="false" target="showcaseMethodsCalcData" style="padding-bottom:2em;" elevation="2">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin white-text">{{dashboardMethods.promises[3].name}}</h2>
    </div>
    <div smp-expando-content="showcaseMethodsCalcData">
      <div class="contentContainer">
        <div layout="row" layout-wrap flex="100">
          <div layout="row" layout-wrap flex="100">
          <div layout="row" flex="100" class="primary-fill md-padding">
            <h3 class="md-title no-margin white-text">Description</h3>
          </div>
            <div layout="row" layout-align="left center" flex="100" class="white-fill">
              <h2 class="md-subhead no-margin md-padding">{{dashboardMethods.promises[3].info.Description}}</h2>
            </div>
            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Example Call</h3>
            </div>
            <div layout="row" layout-align="left start" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    dashboard<span class="smp-funct">.</span><span class="smp-call">getCalculatedData</span>(<span class="smp-arg">namespace</span>, <span class="smp-arg">sensor</span>, <span class="smp-arg">item</span>)
      <span class="smp-funct">.</span><span class="smp-call">then</span>(<span class="smp-funct">function</span>(<span class="smp-arg">data</span>) {
        <span class="smp-cmt">// success callback</span>
      }, <span class="smp-funct">function</span>(<span class="smp-arg">error</span>) {
        <span class="smp-cmt">// failure callback</span>
      });
  </code>
</pre>
            </div>
            <div flex="100" class="white-fill">
              <md-list ng-if="dashboardMethods.promises[3].info.Parameters.Required.length !== 0 || dashboardMethods.promises[3].info.Parameters.Optional.length !== 0">
                <span ng-if="dashboardMethods.promises[3].info.Parameters.Required.length !== 0">

                  <md-subheader class="md-no-sticky accent-text">Required</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[3].info.Parameters.Required">
                    <p layout="row" flex="100">
                      <span flex flex-xs="30" flex-sm="20" flex-gt-sm="15""md-body-1">{{param.name}}</span>
                      <span flex flex-xs="20" flex-sm="15" flex-gt-sm="10""md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex flex-xs="20" flex-sm="15" flex-gt-sm="10""md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>

                <span ng-if="dashboardMethods.promises[3].info.Parameters.Optional.length !== 0">
                  <md-divider></md-divider>

                  <md-subheader class="md-no-sticky">Optional</md-subheader>
                  <md-list-item layout="row" class="md-offset">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" style="font-weight:bold;" class="md-subhead">Parameter</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;" class="md-subhead">Type</span>
                      <span flex="" style="font-weight:bold;" class="md-subhead">Description</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" style="font-weight:bold;text-align:right;" class="md-subhead">Default</span>
                    </p>
                  </md-list-item>
                  <md-list-item layout="row" class="md-offset" ng-repeat="param in dashboardMethods.promises[3].info.Parameters.Optional">
                    <p layout="row" flex="100">
                      <span flex-xs="30" flex-sm="20" flex-gt-sm="15" class="md-body-1">{{param.name}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1">{{param.type}}</span>
                      <span flex="" class="md-body-1">{{param.desc}}</span>
                      <span flex-xs="20" flex-sm="15" flex-gt-sm="10" class="md-body-1" style="text-align:right;">{{param.default}}</span>
                    </p>
                  </md-list-item>
                </span>
              </md-list>
            </div>

            <div layout="row" flex="100" class="primary-fill md-padding">
              <h3 class="md-title no-margin white-text">Response Schema</h3>
            </div>
            <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    <span class="smp-punct">{</span>
      <span class="smp-str">state</span><span class="smp-punct">:</span> Integer<span class="smp-punct">,</span>
      <span class="smp-str">max</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
      <span class="smp-str">min</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
      <span class="smp-str">mean</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
      <span class="smp-str">stdDev</span><span class="smp-punct">:</span> Number<span class="smp-punct">,</span>
    }</span>
  </code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>
