<div>
  <smp-expando open="true" target="showcaseDashboardAutoUpdate" elevation="2" style="padding-bottom: 2em;">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin">Auto Update</h2>
    </div>

    <div smp-expando-content="showcaseDashboardAutoUpdate" class="white-fill">
      <div class="contentContainer">
        <div layout="row" layout-wrap flex="100">
          <div layout="row" layout-align="left center" flex="100" class="primary-fill md-padding">
            <h2 class="md-title no-margin white-text">Overview</h2>
          </div>
          <div flex="100">
            <h2 class="md-subhead no-margin md-padding">
              The dashboardApi Service runs a timer at an interval of 30 seconds. At the start of each interval it broadcasts a signal that all the visualization tools can listen to.
              It is up to the visualization tools themselves to do the correct checks to see if they need new data and make the proper calls to the dashboardApi to retrieve such data.
              <br /><br />
              All of the default visualization tools have this functionality built in and will keep themselves up-to-date automatically.
            </h2>
          </div>

          <div layout="row" layout-align="left center" flex="100" class="primary-fill md-padding">
            <h2 class="md-title no-margin white-text">Example</h2>
          </div>
          <div flex="100">
            <div layout="row" layout-align="left center" flex="100" class="md-padding">
              <h2 class="md-title no-margin">DashboardApi Broadcast</h2>
            </div>
            <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    <span class="smp-cmt">// The timer</span>
    <span class="smp-funct">function</span> <span class="smp-call">autoUpdate</span>() {
      dashboard<span class="smp-funct">.</span>meta<span class="smp-funct">.</span>updateClock <span class="smp-funct">=</span> <span class="smp-call">$interval(</span><span class="smp-funct">function</span>() {
        <span class="smp-cmt">// The call to make the broadcast</span>
        dashboard<span class="smp-funct">.</span><span class="smp-call">broadcastUpdate</span>(<span class="smp-punct">{</span><span class="smp-str">clearData</span><span class="smp-punct">:</span> <span class="smp-bool">false</span><span class="smp-punct">}</span>);
      }, <span class="smp-int">30000</span><span class="smp-call">)</span>;
    }

    <span class="smp-cmt">// The broadcast</span>
    dashboard<span class="smp-funct">.</span><span class="smp-call">broadcastUpdate</span> <span class="smp-funct">=</span> <span class="smp-funct">function</span>(<span class="smp-arg">args</span>) {
      $rootScope<span class="smp-funct">.</span><span class="smp-call">$broadcast</span>(<span class="smp-str">'updateDashboardData'</span>, <span class="smp-arg">args</span>);
    };
  </code>
</pre>
            </div>
          </div>
          <div flex="100">
            <h2 class="md-subhead no-margin md-padding">
              This code snippet is taken from s-dashboardApi.js. It shows the function that contains the timer which broadcasts an update signal to all listeners of 'updateDashboardData' every 30 seconds.
              <br /> <br />
              The argument clearData is set to false on because new data should be added the current data on the chart. An example of when clearData would be true is when the sample interval is changed and a whole new set of data is needed to populate the graph.
            </h2>
          </div>

          <div flex="100">
            <div layout="row" layout-align="left center" flex="100" class="md-padding">
              <h2 class="md-title no-margin">Line Chart Listener</h2>
            </div>
            <div layout="row" layout-align="left center" flex="100"  class="smp-code">
<pre>
  <code class="smp-text">
    $scope.<span class="smp-call">$on(</span><span class="smp-str">'updateDashboardData'</span>, <span class="smp-funct">function</span>(<span class="smp-attr">event</span>, <span class="smp-arg">args</span>) {
      <span class="smp-funct">if</span> (args<span class="smp-funct">.</span>clearData) {
        <span class="smp-call">clearChart()</span>
          <span class="smp-funct">.</span><span class="smp-call">then</span>(<span class="smp-funct">function</span>() {
            <span class="smp-call">getNewData()</span>;
          });
      } <span class="smp-funct">else</span> {
        <span class="smp-call">getNewData()</span>;
      }
    }<span class="smp-call">)</span>;
  </code>
</pre>
            </div>
          </div>

          <div flex="100">
            <h2 class="md-subhead no-margin md-padding">
              This code snippet is taken from c-nvd3Chart.js. It shows the listener that is run every time it receives a 'updateDashboardData' signal. It will either remove all data from the chart
              if clearData is true and then get new data, or simply get new data.
              <br /> <br />
              The get new data function contains the functionality to test if new data is necessary, so unnecessary REST calls are not made.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>


<div>
  <smp-expando open="true" target="showcaseDashboardSettings" elevation="2" style="padding-bottom: 2em;">
    <div smp-expando-toggle layout="row" layout-align="left center" flex="100" class="white-text primary-hue1-fill md-padding doesAction" md-whiteframe="2">
      <h2 class="md-headline no-margin">Chart Settings</h2>
    </div>
    <div smp-expando-content="showcaseDashboardSettings" class="white-fill">
      <div class="contentContainer">
        <div layout="row" layout-wrap flex="100">
          <div layout="row" layout-align="left center" flex="100" class="primary-fill md-padding">
            <h2 class="md-title no-margin white-text">Sample Interval</h2>
          </div>
          <div flex="100">
            <h2 class="md-subhead no-margin md-padding">
              The sample interval defines how much time each data point will represent. By default the sample interval is set to 60 seconds so each data point will represent an
              average of the sensors value over that 60 seconds.
              <br /><br />
              More technically, the System Monitor (where the data is drawn from for this dashboard) takes a sensor readings every 30 seconds.
              Therefore, if the sample interval of the charts is set to 3 minutes, 6 of the readings taken by the System Monitor Dashboard must be averaged together to get the value of
              3 minute data point.
            </h2>
          </div>
          <div layout="row" layout-align="left center" flex="100" class="primary-fill md-padding">
            <h2 class="md-title no-margin white-text">Chart Period</h2>
          </div>
          <div flex="100">
            <h2 class="md-subhead no-margin md-padding">
              The sample interval defines how far back in the past data will still be shown on the chart. By default the sample interval is set to 1 hour.
              <br /><br />
              One important thing to know is that readings are only stored for 4 days. Thus the maximum sample interval is 4 days because if data is older than 4 days
              it is deleted from the database.
            </h2>
          </div>
          <div layout="row" layout-align="left center" flex="100" class="primary-fill md-padding">
            <h2 class="md-title no-margin white-text">Changing the Settings</h2>
          </div>
          <div flex="100">
            <h2 class="md-subhead no-margin md-padding">
              These settings can be changed at any time by clicking the settings button on the bottom left of the window.
            </h2>
            <br />
            <div layout="row" flex="100" layout-align="center center">
              <md-button class="md-fab md-primary" ng-click="showSettingsDialog($event)">
                <md-tooltip md-direction="right">Settings</md-tooltip>
                <md-icon
                  aria-label="Settings"
                  class="material-icons step white-text"
                  md-svg-src="assets/icons/ic_build_24px.svg"
                >
                </md-icon>
              </md-button>
            </div>
            <br />
            <h2 class="md-subhead no-margin md-padding">
              Alter the settings by using the respective menus for sample interval and sample interval. At larger sample intervals more fine sample intervals will not be available, to see more fine detail select a shorter sample interval.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </smp-expando>
</div>
